@import "tailwindcss";

#root {
  margin: 0;
  padding: 0;
}

.top-bar {
  box-shadow: 0px 3px 5px rgb(37, 31, 31);
  border-radius: 0px;
  font-family: "roboto, ariel"
}

body {
  overflow: hidden;
}

